aiohttp==3.8.4 ; python_full_version >= "3.10.4" and python_version < "4.0"
aiosignal==1.3.1 ; python_full_version >= "3.10.4" and python_version < "4.0"
ansicon==1.89.0 ; python_full_version >= "3.10.4" and python_version < "4" and platform_system == "Windows"
apimatic-core-interfaces==0.1.3 ; python_full_version >= "3.10.4" and python_version < "4"
apimatic-core==0.2.3 ; python_full_version >= "3.10.4" and python_version < "4"
apimatic-requests-client-adapter==0.1.4 ; python_full_version >= "3.10.4" and python_version < "4"
appdirs==1.4.4 ; python_full_version >= "3.10.4" and python_version < "4"
asgiref==3.7.2 ; python_full_version >= "3.10.4" and python_version < "4"
async-timeout==4.0.2 ; python_full_version >= "3.10.4" and python_version < "4.0"
attrs==23.1.0 ; python_full_version >= "3.10.4" and python_version < "4.0"
autopep8==1.7.0 ; python_full_version >= "3.10.4" and python_version < "4"
base58==2.1.1 ; python_full_version >= "3.10.4" and python_version < "4.0"
black==20.8b1 ; python_full_version >= "3.10.4" and python_version < "4"
blessed==1.20.0 ; python_full_version >= "3.10.4" and python_version < "4"
boto3==1.26.165 ; python_full_version >= "3.10.4" and python_version < "4"
botocore==1.29.165 ; python_full_version >= "3.10.4" and python_version < "4"
bpython==0.23 ; python_full_version >= "3.10.4" and python_version < "4"
cachecontrol==0.12.14 ; python_full_version >= "3.10.4" and python_version < "4"
certifi==2023.5.7 ; python_full_version >= "3.10.4" and python_version < "4.0"
cffi==1.15.1 ; os_name == "nt" and implementation_name != "pypy" and python_full_version >= "3.10.4" and python_version < "4"
charset-normalizer==3.1.0 ; python_full_version >= "3.10.4" and python_version < "4.0"
click==8.1.3 ; python_full_version >= "3.10.4" and python_version < "4"
colorama==0.4.6 ; python_full_version >= "3.10.4" and python_version < "4"
coverage==6.5.0 ; python_full_version >= "3.10.4" and python_version < "4"
cssbeautifier==1.14.8 ; python_full_version >= "3.10.4" and python_version < "4"
curtsies==0.4.1 ; python_full_version >= "3.10.4" and python_version < "4"
cwcwidth==0.1.8 ; python_full_version >= "3.10.4" and python_version < "4"
dataclasses-json==0.5.9 ; python_full_version >= "3.10.4" and python_version < "4.0"
defusedxml==0.7.1 ; python_full_version >= "3.10.4" and python_version < "4"
deprecation==2.1.0 ; python_full_version >= "3.10.4" and python_version < "4"
django-admin-rangefilter==0.11.1 ; python_full_version >= "3.10.4" and python_version < "4"
django-debug-toolbar==3.8.1 ; python_full_version >= "3.10.4" and python_version < "4"
django-extensions==3.2.3 ; python_full_version >= "3.10.4" and python_version < "4"
django-js-asset==2.1.0 ; python_full_version >= "3.10.4" and python_version < "4"
django-mptt==0.14.0 ; python_full_version >= "3.10.4" and python_version < "4"
django-ses==2.6.1 ; python_full_version >= "3.10.4" and python_version < "4"
django-simple-history==3.3.0 ; python_full_version >= "3.10.4" and python_version < "4"
django==4.2.2 ; python_full_version >= "3.10.4" and python_version < "4"
djangorestframework-xml==2.0.0 ; python_full_version >= "3.10.4" and python_version < "4"
djangorestframework==3.14.0 ; python_full_version >= "3.10.4" and python_version < "4"
djlint==1.31.1 ; python_full_version >= "3.10.4" and python_version < "4"
dunamai==1.17.0 ; python_full_version >= "3.10.4" and python_version < "4.0"
editorconfig==0.12.3 ; python_full_version >= "3.10.4" and python_version < "4"
enum34==1.1.10 ; python_full_version >= "3.10.4" and python_version < "4"
exceptiongroup==1.1.1 ; python_full_version >= "3.10.4" and python_version < "4"
factory-boy==3.2.1 ; python_full_version >= "3.10.4" and python_version < "4"
faker==18.11.2 ; python_full_version >= "3.10.4" and python_version < "4"
frozenlist==1.3.3 ; python_full_version >= "3.10.4" and python_version < "4.0"
fuuid==0.1.0 ; python_full_version >= "3.10.4" and python_version < "4.0"
greenlet==2.0.2 ; python_full_version >= "3.10.4" and python_version < "4"
gunicorn==20.1.0 ; python_full_version >= "3.10.4" and python_version < "4"
h11==0.14.0 ; python_full_version >= "3.10.4" and python_version < "4"
html-tag-names==0.1.2 ; python_full_version >= "3.10.4" and python_version < "4.0"
html-void-elements==0.1.0 ; python_full_version >= "3.10.4" and python_version < "4.0"
idna==3.4 ; python_full_version >= "3.10.4" and python_version < "4.0"
inflection==0.5.1 ; python_full_version >= "3.10.4" and python_version < "4"
iniconfig==2.0.0 ; python_full_version >= "3.10.4" and python_version < "4"
isort==5.12.0 ; python_full_version >= "3.10.4" and python_version < "4"
jinja2==3.1.2 ; python_full_version >= "3.10.4" and python_version < "4.0"
jinxed==1.2.0 ; python_full_version >= "3.10.4" and python_version < "4" and platform_system == "Windows"
jmespath==1.0.1 ; python_full_version >= "3.10.4" and python_version < "4"
jsbeautifier==1.14.8 ; python_full_version >= "3.10.4" and python_version < "4"
json5==0.9.14 ; python_full_version >= "3.10.4" and python_version < "4"
jsonpickle==3.0.1 ; python_full_version >= "3.10.4" and python_version < "4"
jsonpointer==2.4 ; python_full_version >= "3.10.4" and python_version < "4"
markupsafe==2.1.3 ; python_full_version >= "3.10.4" and python_version < "4.0"
marshmallow-enum==1.5.1 ; python_full_version >= "3.10.4" and python_version < "4.0"
marshmallow==3.19.0 ; python_full_version >= "3.10.4" and python_version < "4.0"
msgpack==1.0.5 ; python_full_version >= "3.10.4" and python_version < "4"
multidict==6.0.4 ; python_full_version >= "3.10.4" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_full_version >= "3.10.4" and python_version < "4"
outcome==1.2.0 ; python_full_version >= "3.10.4" and python_version < "4"
packaging==23.1 ; python_full_version >= "3.10.4" and python_version < "4"
pathspec==0.11.1 ; python_full_version >= "3.10.4" and python_version < "4"
pillow==9.5.0 ; python_full_version >= "3.10.4" and python_version < "4"
pint==0.18 ; python_full_version >= "3.10.4" and python_version < "4"
pluggy==1.2.0 ; python_full_version >= "3.10.4" and python_version < "4"
poetry-dynamic-versioning==0.13.1 ; python_full_version >= "3.10.4" and python_version < "4.0"
psycopg2==2.9.6 ; python_full_version >= "3.10.4" and python_version < "4"
py==1.11.0 ; python_full_version >= "3.10.4" and python_version < "4"
pycodestyle==2.10.0 ; python_full_version >= "3.10.4" and python_version < "4"
pycparser==2.21 ; python_full_version >= "3.10.4" and os_name == "nt" and implementation_name != "pypy" and python_version < "4"
pygments==2.15.1 ; python_full_version >= "3.10.4" and python_version < "4"
pysocks==1.7.1 ; python_full_version >= "3.10.4" and python_version < "4"
pytest-base-url==2.0.0 ; python_full_version >= "3.10.4" and python_version < "4.0"
pytest-django==4.5.2 ; python_full_version >= "3.10.4" and python_version < "4"
pytest-factoryboy==2.5.1 ; python_full_version >= "3.10.4" and python_version < "4"
pytest-faker==2.0.0 ; python_full_version >= "3.10.4" and python_version < "4"
pytest-html==3.2.0 ; python_full_version >= "3.10.4" and python_version < "4"
pytest-metadata==3.0.0 ; python_full_version >= "3.10.4" and python_version < "4"
pytest-selenium==4.0.1 ; python_full_version >= "3.10.4" and python_version < "4"
pytest-variables==3.0.0 ; python_full_version >= "3.10.4" and python_version < "4"
pytest==7.4.0 ; python_full_version >= "3.10.4" and python_version < "4"
python-dateutil==2.8.2 ; python_full_version >= "3.10.4" and python_version < "4"
python-dotenv==0.15.0 ; python_full_version >= "3.10.4" and python_version < "4"
pytz==2023.3 ; python_full_version >= "3.10.4" and python_version < "4"
pyxdg==0.28 ; python_full_version >= "3.10.4" and python_version < "4"
pyyaml==6.0 ; python_full_version >= "3.10.4" and python_version < "4"
regex==2023.6.3 ; python_full_version >= "3.10.4" and python_version < "4"
requests==2.31.0 ; python_full_version >= "3.10.4" and python_version < "4.0"
s3transfer==0.6.1 ; python_full_version >= "3.10.4" and python_version < "4"
selenium==4.10.0 ; python_full_version >= "3.10.4" and python_version < "4"
setuptools==66.0.0 ; python_full_version >= "3.10.4" and python_version < "4"
shipengine==1.0.0 ; python_full_version >= "3.10.4" and python_version < "4.0"
simplejson==3.19.1 ; python_full_version >= "3.10.4" and python_version < "4"
six==1.16.0 ; python_full_version >= "3.10.4" and python_version < "4"
sniffio==1.3.0 ; python_full_version >= "3.10.4" and python_version < "4"
sortedcontainers==2.4.0 ; python_full_version >= "3.10.4" and python_version < "4"
sqlparse==0.4.4 ; python_full_version >= "3.10.4" and python_version < "4"
squareup==27.0.0.20230517 ; python_full_version >= "3.10.4" and python_version < "4"
tenacity==8.2.2 ; python_full_version >= "3.10.4" and python_version < "4"
toml==0.10.2 ; python_full_version >= "3.10.4" and python_version < "4"
tomli==2.0.1 ; python_full_version >= "3.10.4" and python_version < "3.11"
tomlkit==0.11.8 ; python_full_version >= "3.10.4" and python_version < "4.0"
tqdm==4.65.0 ; python_full_version >= "3.10.4" and python_version < "4"
trio-websocket==0.10.3 ; python_full_version >= "3.10.4" and python_version < "4"
trio==0.22.1 ; python_full_version >= "3.10.4" and python_version < "4"
typed-ast==1.5.4 ; python_full_version >= "3.10.4" and python_version < "4"
typing-extensions==4.7.0 ; python_full_version >= "3.10.4" and python_version < "4"
typing-inspect==0.9.0 ; python_full_version >= "3.10.4" and python_version < "4.0"
tzdata==2023.3 ; python_full_version >= "3.10.4" and python_version < "4" and sys_platform == "win32"
urllib3==1.26.16 ; python_full_version >= "3.10.4" and python_version < "4"
urllib3[socks]==1.26.16 ; python_full_version >= "3.10.4" and python_version < "4"
wcwidth==0.2.6 ; python_full_version >= "3.10.4" and python_version < "4"
wsproto==1.2.0 ; python_full_version >= "3.10.4" and python_version < "4"
yarl==1.9.2 ; python_full_version >= "3.10.4" and python_version < "4.0"
