<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
              integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <!-- <link rel="stylesheet"
       href="{% block stylesheet %}{% endblock stylesheet %}" /> -->
    </head>
    <body>
        <div id="content">
            <div id="content-wrap">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
