{% load static %}
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
          integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/orders.css' %}" />
</head>
<body>
    <div class="container-fluid">
        {% for order in orders %}
            <div class="row order" id="order-{{ order.id }}">
                <div class="col-12">
                    <div class="row order-head header-bottom">
                        <div class="col-1 logo m-1">
                            <img src="{% static 'logo2.png' %}" height="87" width="85" alt="HTM">
                        </div>
                        <div class="col-9 px-5 fw-bold htm-address">
                            <div class="h2">Holy Transfiguration Monastery</div>
                            <div class="h5">278 Warren St Brookline MA 02445-5950 USA</div>
                            <div class="h5">(617) 232-2326</div>
                        </div>
                        <div class="col-1 p-1 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-1 m-1 h2">{{ order.id }}</div>
                            </div>
                            <div class="row">
                                <div class="col-1 m-1 h5">{{ order.created|date:"m/d/Y" }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 pt-3">
                    <div class="col-6">
                        <div class="m-2">
                            <h2>Sold to:</h2>
                            <div>{{ order.full_name }}</div>
                            <div>{{ order.address_line1 }}</div>
                            <div>{{ order.address_line2 }}</div>
                            <div>{{ order.city }}</div>
                            <div>{{ order.state_province }}</div>
                            <div>{{ order.postal_code }}</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="m-2">
                            <h2>Ship to:</h2>
                            <div>{{ order.full_name }}</div>
                            <div>{{ order.address_line1 }}</div>
                            <div>{{ order.address_line2 }}</div>
                            <div>{{ order.city }}</div>
                            <div>{{ order.state_province }}</div>
                            <div>{{ order.postal_code }}</div>
                        </div>
                    </div>
                    {% if order.paid %}
                        <img src="{% static 'PAID-1.png' %}"
                             height="100"
                             width="200"
                             alt="paid"
                             class="stamp">
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-3 h3">
                        <div>Total: ${{ order.total_paid }}</div>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col-6 m-2 h4">
                        <div>{{ order.email }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m-3 p-3">
                        <ul class="m-3 order-items">
                            <div class="container">
                                <div class="row pb-1">
                                    <div class="col-2 fw-bold">Title</div>
                                    <div class="col-2 fw-bold">SKU</div>
                                    <div class="col-2 fw-bold">Price</div>
                                    <div class="col-2 fw-bold">Quantity</div>
                                    <div class="col-2 fw-bold">Total</div>
                                </div>
                                {% for item in order.items.all %}
                                    <div class="row">
                                        <div class="col-2">{{ item.title|title }}</div>
                                        <div class="col-2">{{ item.sku }}</div>
                                        <div class="col-2">${{ item.price }}</div>
                                        <div class="col-2">{{ item.quantity }}</div>
                                        <div class="col-2">${% widthratio item.quantity 1 item.price %}.00</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
