/* Bootstrap Over-ride */
/* @media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 0 24px;
    }
} */

/* a hack */
/* .navbar-expand-md .navbar-nav .dropdown-menu {
    /* position: static;
    top: 30px !important;
} */


body header {
    background-color: #cdbb91;
    /* background-color: lightcyan; */
}

header div .navbar {
    background-color: #e7cca1;
    /* background-color: lightpink; */
}

li {
    background-color: transparent;
}

hr.divider {
    margin: 0em;
    border: 1px solid #6e260a;
}

.navbar ul a {
    font-weight: 500;
    color: #3C1201;
}

.navbar {
    border-bottom: 1px solid #773e28;
}

/* .card {
    background-color: transparent;
} */

.alert-primary {
    background-color: #E4F1FF;
}

/* Navigation-Main*/

/* xs */
.logo {
    width: 49px;
    height: auto;
}

/* sm */
@media (min-width: 768px) {
    .logo {
        width: 49px;
    }
}

/* md */
@media (min-width: 992px) {
    .logo {
        width: 60px;
    }

/* lg */
@media (min-width: 1200px) {
    .logo {
        width: 70px;
    }
}

/* Basket Menu */

.basket-qty {
    color: #fff;
    background: #d42114;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    height: 15px;
    width: 14px;
    position: absolute;
    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
}

.basket-btn {
    position: relative;
}

.basket-btn:hover,
.basket-btn:focus,
.basket-btn:active {
    color: #d42114;
    transition-duration: 0.4s;
    background-color: #fff;
}


/* Footer */

.footer>div>div>ul>li {
    padding-bottom: 8px;
}