.order-head {
    border-bottom: 0.5mm solid;
}

.order {
    z-index: 10;
    page-break-after: always;
}

body {
    font-family: Georgia, serif !important;
}

.stamp {
    position: relative;
    /* image size */
    height: 100px;
    width: 200px;
    /* image position */
    left: 190px;
    top: -110px;
}

.row :nth-child(even) {
    background-color: #dcdcdc;
}

.row :nth-child(odd) {
    background-color: #aaaaaa;
}
