{% extends '../base.html' %}
{% block title %}
HTM Store - Search
{% endblock %}
{% block content %}

<div class="container" style="max-width: 1000px">
  <div class="col-12">
    <h1 class="h3 p-2">search for '{{request.GET.q }}' results</h1>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row">
    <div class="album">
      {% if not products %}
      <div class="col-12">No products matched the search query<a href="#">Home</a>
      </div>
      {% else %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        {% for product in products %}
        <div class="col">
          <div class="card border-0">
            <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}" alt="{{ product.title }}">
            <div class="card-body px-0">
              <p class="card-text">
                {{ product.title }}
              </p>
            </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
