{% load static %}
{% load mptt_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
        integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"
        integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>{% block title %}HTM Store{% endblock %}</title>
    <link rel="stylesheet" href="{% block stylesheet %}{% endblock %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <header class="pb-1 pt-2">

        <div class="container-fluid">
            <div class="page-header">
                <div class="list-group list-group-horizontal">
                    <div>
                        <a href="{% url 'catalogue:store_home' %}">
                            <img src="{% static 'logo2.png' %}">
                        </a>
                    </div>
                    <div class="text-center mt-3 ">
                        <h1>Holy Transfiguration Monastery</h1>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg bg-light mt-1">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Shop</a>
                            </li>
                   
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Product categories
                                </a>
                              
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="/icons">Icons</a></li>
                                  <li><a class="dropdown-item" href="/books">Books</a></li>
                                  <li><a class="dropdown-item" href="/incense">Incense</a></li>
                                </ul>
                              </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
            </div>
            </nav>
    </header>

    <main class="pt-2">
        <div id="content">
            {% if messages %}
            <div class="m-4 alert alert-warning alert-{{ message.tags }}" role="alert">
                {% for message in messages %}
                {{message|safe}}
                {% endfor %}
            </div>
            {% endif %}
            <div class="m-4 alert alert-success" role="alert" id="alertbox" style="display:none;">
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="container py-5 footer">
        <hr>
        <div class="row pt-4">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2021-2022</small>
            </div>
            <div class="col-6 col-md fs15">
                <ul class="list-unstyled">
                    <li><a class="link-secondary text-decoration-none" href="#">First item</a></li>
                    <li><a class="link-secondary text-decoration-none" href="#">Second feature</a></li>
                </ul>
            </div>
            <div class="col-6 col-md fs15">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                    <li><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>