{% extends "../base.html" %}
{% load static %}
{% block title %}Delivery Options{%endblock %}
{% block content %}

<div class="container">
    <div class="col-12">
        <h1 class="h2">Delivery Options</h1>
    </div>

    <div class="text-center mt-3">
        <div id="spinner" class="spinner-border" role="status"/>
    </div>
    <div class="col-12">
        <p>Select your delivery options</p>
    </div>
    <hr />
</div>

<div class="container">
        type="button">Payment</a>
    </div>
    <div id="shippingoptions" class="col-md-7 col-lg-8">

      <div class="card mb-3 border-1 rounded-0 product-item me-md-4">
        <div class="col-md-2 ps-3 ps-md-4">
          <i class="fa-solid fa-truck"></i>
        </div>
        <div class="row g-0">
          <div class="col-md-9 ps-md-1">
            <div class="card-body p-1">
              <p class="card-text ps-2 mb-1 pt-1 fw-bold">Regular</p>
              <p id="regular-days" class="card-text ps-2 pb-3">...</p>
            </div>
          </div>
          <div id="regular" class="col-md-1 ps-md-1">
            <input class="align-middle h-100" type="radio" name="deliveryOption">
          </div>
        </div>
      </div>

      <div class="card mb-3 border-1 rounded-0 product-item me-md-4">
        <div class="col-md-2 ps-3 ps-md-4">
          <i class="fa-solid fa-truck-fast"></i>
        </div>
        <div class="row g-0">
          <div class="col-md-9 ps-md-1">
            <div class="card-body p-1">
              <p class="card-text ps-2 mb-1 pt-1 fw-bold">Fast</p>
              <p id="fast-days" class="card-text ps-2 pb-3">...</p>
            </div>
          </div>
          <div id="fast" class="col-md-1 ps-md-1">
            <input class="align-middle h-100" type="radio" name="deliveryOption">
          </div>
        </div>
      </div>

      <div class="card mb-3 border-1 rounded-0 product-item me-md-4">
        <div class="col-md-2 ps-3 ps-md-4">
          <i class="fa-solid fa-rocket"></i>
        </div>
        <div class="row g-0">
          <div class="col-md-9 ps-md-1">
            <div class="card-body p-1">
              <p class="card-text ps-2 mb-1 pt-1 fw-bold">Express</p>
              <p id="express-days" class="card-text ps-2 pb-3">...</p>
            </div>
          </div>
          <div id="express" class="col-md-1 ps-md-1">
            <input class="align-middle h-100" type="radio" name="deliveryOption">
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<script>
 const maybePluralize = (count, noun, suffix = 's') => `${count} ${noun}${count !== 1 ? suffix : ''}`;

 $(document).ready(function() {
     $.ajax({
         type: 'GET',
         url: '/shipping/get-rates',
         success: function(response) {
             $('#spinner').hide()
             rc = response.choices[0]
             fc = response.choices[1]
             ec = response.choices[2]
             $("#regular > input").val(`${rc.id}/${rc.price}/${rc.name}/${rc.days}`)
             $("#fast > input").val(`${fc.id}/${fc.price}/${fc.name}/${fc.days}`)
             $("#express > input").val(`${ec.id}/${ec.price}/${ec.name}/${ec.days}`)
             $("#regular-days").text(`Your order should arrive within ${maybePluralize(rc.days,'day')} once shipped`)
             $("#fast-days").text(`Your order should arrive within ${maybePluralize(fc.days,'day')} once shipped`)
             $("#express-days").text(`Your order should arrive within ${maybePluralize(ec.days,'day')} once shipped`)
         },
         error: function(error) {
             console.log(error)
         }
     })
 })

 $('input[type=radio][name=deliveryOption]').on('change', function(e) {
     e.preventDefault();
     $.ajax({
         type: "POST",
         url: '{% url "checkout:basket_update_delivery" %}',
         data: {
             deliveryoption: $(this).val(),
             csrfmiddlewaretoken: "{{csrf_token}}",
             action: "post",
         },
         success: function (json) {
             $('#to-payment').prop('disabled', false)
             document.getElementById("total").innerHTML = '$' + json.total;
             document.getElementById("delivery_price").innerHTML = '$' + json.delivery_price;
         },
         error: function (xhr, errmsg, err) {},
     });
 });
</script>
{% endblock %}
