{% extends "../base.html" %}
{% load static %}
{% block title %}
Payment
{% endblock %}
{% block content %}

<head>
  <script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
  <script>
    // TODO: replace with Production valies
    const appId = 'sandbox-sq0idb-H9U7rreVn5iRv9za5FSlRg';
    const locationId = 'LCDT9FPECTMHA';

    // ===== BEGIN OF OUTER LEVEL FUNCTION DECLARATIONS =====
    async function initializeCard(payments) {
      const card = await payments.card();
      await card.attach('#card-container');

      return card;
    }

    async function createPayment(token, verificationToken) {
      const d = {
        locationId,
        source_id: token,
        verificationToken,
      }
      $.ajax({
        type: 'POST',
        url: '{% url "checkout:token_payment" %}',
        data: d,
        success: function (json) {
          console.log(`success, payment created! - ${json}`)
        },
        error: function (xhr, errmsg, err) {
          console.error("PAYMENT POST failed", errmsg)
        }
      })
    }

    async function tokenize(paymentMethod) {
      const tokenResult = await paymentMethod.tokenize();
      if (tokenResult.status === 'OK') {
        return tokenResult.token;
      } else {
        let errorMessage = `Tokenization failed with status: ${tokenResult.status}`;
        if (tokenResult.errors) {
          errorMessage += ` and errors: ${JSON.stringify(
            tokenResult.errors
          )}`;
        }

        throw new Error(errorMessage);
      }
    }

    // Required in SCA Mandated Regions: Learn more at https://developer.squareup.com/docs/sca-overview
    async function verifyBuyer(payments, token) {
      console.log("verifying buyer")
      const verificationDetails = {
        amount: '1.00',
        billingContact: {
          addressLines: ['123 Main Street', 'Apartment 1'],
          familyName: 'Doe',
          givenName: 'John',
          email: 'jondoe@gmail.com',
          country: 'US',
          // phone: '3214563987',
          phone: '1235679767',
          region: 'MA',
          city: 'Boston',
        },
        currencyCode: 'USD',
        intent: 'CHARGE',
      };

      const verificationResults = await payments.verifyBuyer(
        token,
        verificationDetails
      );
      return verificationResults.token;
    }

    // status is either SUCCESS or FAILURE;
    function displayPaymentResults(status) {
      const statusContainer = document.getElementById(
        'payment-status-container'
      );
      if (status === 'SUCCESS') {
        statusContainer.classList.remove('is-failure');
        statusContainer.classList.add('is-success');
      } else {
        statusContainer.classList.remove('is-success');
        statusContainer.classList.add('is-failure');
      }

      statusContainer.style.visibility = 'visible';
    }
    // ===== END OF OUTER LEVEL FUNCTION DECLARATIONS =====

    // AND GO!
    // when the DOM is loaded...
    document.addEventListener('DOMContentLoaded', async function () {
      // first check if Square object is ready
      if (!window.Square) {
        throw new Error('Square.js failed to load properly');
      }

      let payments;
      try {
        // prepare the Payments API
        payments = window.Square.payments(appId, locationId);
      } catch {
        const statusContainer = document.getElementById(
          'payment-status-container'
        );
        statusContainer.className = 'missing-credentials';
        statusContainer.style.visibility = 'visible';
        return;
      }

      let card;
      try {
        card = await initializeCard(payments); // empty card initialized
      } catch (e) {
        console.error('Initializing Card failed', e);
        return;
      }

      // START of the _INNER_ function (handlePaymentMethodSubmission) declaration
      async function handlePaymentMethodSubmission(event, card) {
        event.preventDefault();
        console.log("the inner handler function execution began")
        try {
          // disable the submit button as we await tokenization and make a payment request.
          cardButton.disabled = true;
          const token = await tokenize(card);
          const verificationToken = await verifyBuyer(payments, token);
          const paymentResults = await createPayment(
            token,
            verificationToken
          );
          displayPaymentResults('SUCCESS');
          window.location.replace('{% url "checkout:payment_successful" %}')
        } catch (e) {
          cardButton.disabled = false;
          displayPaymentResults('FAILURE');
          console.error(e.message);
        }
      }

      const cardButton = document.getElementById('card-button');
      // whencard button is clicked, the event, together with the initialized void card, is passed to the inner function
      cardButton.addEventListener('click', async function (event) {
        await handlePaymentMethodSubmission(event, card);
      });

      $('#billing-is-shipping_id').on('change', function (e) {
        // this will contain a reference to the checkbox   
        if (this.checked) {
          $("#billingaddress").hide()
        } else {
          $("#billingaddress").show()
        }
      });
    });

  </script>
</head>

<div class="container">
  <div class="col-12">
    <h1 class="h2">Payment methods</h1>
  </div>
  <hr />
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Pay with a credit card</p>
      <p>Please enter the billing address and the name on the card</p>
      <input type="checkbox" name="billing-is-shipping" id="billing-is-shipping_id" checked>
      <label for="billing-is-shipping_id">billing address is the same as shipping</label>
      <div id="billingaddress" style="display:none;">
        OHAI
      </div>
      <form id="payment-form">
        <div id="card-container"></div>
        <button id="card-button" type="button">Pay $1.00</button>
      </form>
      <div id="payment-status-container"></div>
    </div>
  </div>

  {% endblock %}
</div>