{% extends "../base.html" %}
{% load static %}
{% block title %}
Payment
{% endblock %}
{% block content %}

<div class="container">
  <div class="col-12">
    <h1 class="h2">Payment methods</h1>
  </div>
  <div class="col-12">
    <p>Please select your payment option</p>
  </div>
  <hr />
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <p>Pay with Paypal</p>
    </div>

    <div class="col-6">
      <p>Pay with a credit card</p>

      <form
        action="{% url 'checkout:token_payment' %}"
        id="cardPayForm"
        method="post">
        {% csrf_token %}
        <div class="row m-1" id="ccnumber"></div>
        <div class="row m-1" id="ccexp"></div>
        <div class="row m-1" id="cvv"></div>
        <input
          id="payButton"
          role="button"
          type="submit"
          class="btn btn-success fw-bold"
          value="Pay ${{total}}"/>
      </form>
    </div>
  </div>

  <script
      src="https://secure.nmi.com/token/Collect.js"
      data-tokenization-key="uXRD2W-32WSUp-36EU4c-mbVZ3m"
      data-variant="inline"
      data-style-sniffer="true"
      data-google-font="Montserrat:400"
      data-validation-callback = "(function (field, valid, message) {console.log(field + ': ' + valid + ' -- ' + message)})"

      data-invalid-css='{
          "background-color":"red",
          "color":"white"
          }'
      data-valid-css='{
          "background-color":"#d0ffd0",
          "color":"black"
          }'

      data-focus-css='{
          "background-color":"#202020",
          "color":"yellow"
      }'
      data-timeout-duration = "10000"
      data-timeout-callback = "(function() {console.log('Timeout reached')})"
      data-fields-available-callback = "(function() {console.log('Collect.js has added fields to the form')})"
      data-field-cvv-display = 'required'
      data-field-ccnumber-title = 'Card Number'
      data-field-ccnumber-placeholder = '0000 0000 0000 0000'
      data-field-ccnumber-enable-card-brand-previews= 'true'
      data-field-ccexp-title = 'Expiration Date'
      data-field-ccexp-placeholder = '00 / 00'
      data-field-cvv-display = 'required'
      data-field-cvv-title = 'CVV Code'
      data-field-cvv-placeholder = '***'
      data-currency="USD"
      data-country="US">
    </script>
  {% endblock %}
</div>
