{% extends "../base.html" %}
{% load static %}
{% block title %}
  Payment
{% endblock title %}
{% block content %}
  <head>
    <script type="text/javascript"
            src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
    <script>
      // TODO: replace with Production valies
      const appId = '{{ app_id }}'
      const locationId = '{{ location_id }}'

      async function initializeCard(payments) {
        const card = await payments.card();
        await card.attach('#card-container');

        return card;
      }

      async function createPayment(token, verificationToken) {
        const payload = { locationId, source_id: token, verificationToken }

        js_payload = JSON.stringify({payload})
        const paymentResponse = await fetch('{% url "checkout:token_payment" %}', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: js_payload
        })

        if (paymentResponse.ok) {
          return paymentResponse.json(); // we control the structure of this response
        }

        const errorBody = await paymentResponse.text();
        throw new Error(errorBody);
      }

      async function payLater() {
        const payload = { }
        js_payload = JSON.stringify({payload})

        const paymentResponse = await fetch('{% url "checkout:pay_later" %}', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: js_payload
        })

        if (paymentResponse.ok) {
          return paymentResponse.json(); // we control the structure of this response
        }
      }

      async function tokenize(paymentMethod) {
        const tokenResult = await paymentMethod.tokenize();
        if (tokenResult.status === 'OK') {
          return tokenResult.token;
        } else {
          let errorMessage = `Tokenization failed with status: ${tokenResult.status}`;
          if (tokenResult.errors) {
            errorMessage += ` and errors: ${JSON.stringify(
              tokenResult.errors
            )}`;
          }

          throw new Error(errorMessage);
        }
      }

      // Required in SCA Mandated Regions: Learn more at https://developer.squareup.com/docs/sca-overview
      async function verifyBuyer(payments, token) {
        let fullName = givenName = familyName = addressLine1 = addressLine2 = city = zip = postalCode = country = region = ''
        if ($('#billing-is-shipping_id')[0].checked) {
          fullName = '{{ full_name }}'
          givenName = fullName.split(' ')[0]
          familyName = fullName.split(' ')[1]
          address_line1 = '{{ address_line1 }}'
          address_line2 = '{{ address_line2 }}'
          city = '{{ city_locality }}'
          zip = '{{ postal_code }}'
          country = '{{ country_code }}'
          region = '{{ state_province }}'
        } else {
          fullName = $("#full-name").val()
          givenName = fullName.split(' ')[0]
          familyName = fullName.split(' ')[1]
          addressLine1 = $("#address-line1").val()
          addressLine2 = $("#address-line2").val()
          city = $("#town-city").val()
          zip =  $("#postal-code").val()
          region = $("#region").val()
          country = $("#country").val()
        }
        const verificationDetails = {
            amount: '{{ total }}',
            billingContact: {
              addressLines: [addressLine1, addressLine2],
              familyName,
              givenName,
              region,
              city,
              zip,
              country
            },
            currencyCode: 'USD',
            intent: 'CHARGE',
        };

        const verificationResults = await payments.verifyBuyer(
          token,
          verificationDetails
        );
        return verificationResults.token;
      }

      function redirectHomeAfter(ms) {
          setTimeout(() => {
            window.location.replace('{% url "catalogue:home" %}')
          }, ms);
      }

      // ===== END OF OUTER LEVEL FUNCTION DECLARATIONS =====

      // AND GO!
      // when the DOM is loaded...
      document.addEventListener('DOMContentLoaded', async function () {
        // first check if Square object is ready
        if (!window.Square) {
          throw new Error('Square.js failed to load properly');
        }

        let payments;
        try {
          // prepare the Payments API
          payments = window.Square.payments(appId, locationId);
        } catch {
          const statusContainer = document.getElementById(
            'payment-status-container'
          );
          statusContainer.className = 'missing-credentials';
          statusContainer.style.visibility = 'visible';
          return;
        }

        let card;
        try {
          card = await initializeCard(payments); // empty card initialized
        } catch (e) {
          console.error('Initializing Card failed', e);
          return;
        }

        async function handlePaymentMethodSubmission(event, card) {
          event.preventDefault();
          try {
            // disable the submit button as we await tokenization and make a payment request.
            cardButton.disabled = true;
            const token = await tokenize(card);
            const verificationToken = await verifyBuyer(payments, token);
            let paymentResults = await createPayment(
              token,
              verificationToken
            );
            if (paymentResults.success) {
              $("#alertbox").show();
              $("#alertbox").text("Order successfully placed");
              redirectHomeAfter(3000)
            } else {
              console.log(paymentResults)
            }
          } catch (e) {
            cardButton.disabled = false;
            console.error(e.message);
          }
        }

        async function handlePayLater(event) {
          event.preventDefault();
          console.log("pay later selected")

          let paymentResults = await payLater()
          $("#alertbox").show();
          $("#alertbox").text("Order successfully placed");
            
          redirectHomeAfter(3000)
          
        }

        const cardButton = document.getElementById('card-button');
        const payLaterButton = document.getElementById('pay-later-button');
        // whencard button is clicked, the event, together with the initialized void card, is passed to the inner function
        cardButton.addEventListener('click', async function (event) {
          handlePaymentMethodSubmission(event, card);
        });
        payLaterButton.addEventListener('click', async function (event) {
          handlePayLater(event);
        });
        

        $('#billing-is-shipping_id').on('change', function (e) {
          // this will contain a reference to the checkbox   
          if (this.checked) {
            $("#billingaddress").hide()
          }
          else {
            $("#billingaddress").show()
          }
        });
      });
    </script>
  </head>
  <div class="container">
    <div class="col-12">
      <h1 class="h2">Payment methods</h1>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>Pay with a credit card</p>
        <p>Please enter the billing address and the name on the card</p>
        <input type="checkbox"
               name="billing-is-shipping"
               id="billing-is-shipping_id"
               checked>
        <label for="billing-is-shipping_id">billing address is the same as shipping</label>
        <div id="billingaddress" class="container">
          <label for="full-name" class="small mt-2">Full name</label>
          <input id="full-name"
                 class="form-control mb-1"
                 type="text"
                 placeholder="full name">
          <label for="address-line1" class="small mt-2">Billing address line 1</label>
          <input id="address-line1"
                 class="form-control mb-1"
                 type="text"
                 placeholder="address line 1">
          <label for="address-line2" class="small mt-2">Billing address line 2</label>
          <input id="address-line2"
                 class="form-control mb-1"
                 type="text"
                 placeholder="address line 2">
          <label for="town-city" class="small mt-2">Town/City</label>
          <input id="town-city"
                 class="form-control mb-1"
                 type="text"
                 placeholder="town/city">
          <label for="postal-code" class="small mt-2">Postal code</label>
          <input id="postal-code"
                 class="form-control mb-1"
                 type="text"
                 placeholder="postal code">
          <label for="region" class="small mt-2">State/Province</label>
          <input id="region"
                 class="form-control mb-1"
                 type="text"
                 placeholder="state/province">
        </div>
      </div>
      <form id="payment-form">
        <div id="card-container"></div>
        <button id="card-button" type="button">Pay ${{ total }}</button>
        {% if trusted %}
          <b> OR </b>
          <button id="pay-later-button" type="button">Pay later</button>
        {% endif %}
      </form>
      <div id="payment-status-container"></div>
    </div>
  </div>
{% endblock content %}
