[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=storeadmin
Group=htm
WorkingDirectory=/var/htmshop
ExecStart=/var/venv/bin/gunicorn \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          --env DJANGO_SETTINGS_MODULE=ecommerce.settings.staging \
          --access-logfile /var/htmshop/log/access.log \
          --error-logfile /var/htmshop/log/error.log \
          ecommerce.wsgi:application

[Install]
WantedBy=multi-user.target
