{% extends "../base.html" %}
{% block title %}
    Cart Summary
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="col-12">
            <h1 class="h2 pt-5">Your Cart, {{ user }}</h1>
        </div>
        <div class="col-12">
            <p>
                Manage <b>items</b> in your cart
            </p>
        </div>
        <hr />
    </div>
    <div class="container">
        <div class="row g-3">
            {% if basket|length == 0 %}
                <div class="col-12">
                    Your cart is empty <a href="{% url 'catalogue:home' %}">Shop</a>
                </div>
            {% else %}
                <div class="col-12 bg-light p-3 d-flex justify-content-between">
                    <div class="text-end">
                        Sub Total: <span class="fw-bold">$</span>
                        <div id="subtotal" class="d-inline-flex fw-bold">{{ basket.get_subtotal_price }}</div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
                    <div class="d-grid gap-2 ">
                        <a role="button"
                           href="{% url 'checkout:delivery_address' %}"
                           class="btn btn-success fw-bold"
                           type="button">Checkout</a>
                        <button class="btn btn-light" type="button">Save for later</button>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8 p-0" id="cartitems">
                    {% for sku, item in basket.basket.items %}
                        <div class="card mb-3 border-0 product-item" data-index="{{ sku }}">
                            <div class="row g-0">
                                <div class="card-body p-1" data-sku="{{ sku }}">
                                    <input id="{{ sku }}-qty"
                                           class="form-control form-control-sm itemqty"
                                           type="number"
                                           min="0"
                                           value="{{ item.qty }}" />
                                    <div class="col-md-10 ps-md-3 productbuttons">
                                        <a type="button"
                                           data-index="{{ sku }}"
                                           class="text-decoration-none small ps-3 update-button">Update</a>
                                        <a type="button"
                                           data-index="{{ sku }}"
                                           class="delete-button text-decoration-none small">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
 // Delete Item
 $(document).on("click", ".delete-button", function (e) {
     e.preventDefault();
     let sku = $(this).data("index");
     $.ajax({
         type: "POST",
         url: '{% url "basket:delete" %}',
         data: {
             sku: sku,
             csrfmiddlewaretoken: "{{csrf_token}}",
             action: "post",
         },
         success: function (json) {
             $('.product-item[data-index="' + sku + '"]').remove();
             let total = 0
             let subtotal = 0
             if (json.qty != 0) {
                 subtotal = json.subtotal
             }
             $("#subtotal").html(subtotal);
             $("#basket-qty").html(json.qty);
             $("#total").html(total);
         },
         error: function (xhr, errmsg, err) {},
     });
 });

 // Update Item
 $(document).on("click", ".update-button", function (e) {
     e.preventDefault();
     let item = $(this);
     let sku = $(this).data("index");
     $.ajax({
         type: "POST",
         url: '{% url "basket:update" %}',
         data: {
             sku: sku,
             skuqty: $("#"+sku+"-qty").val(),
             csrfmiddlewaretoken: "{{csrf_token}}",
             action: "post",
         },
         success: function (json) {
             total = (parseFloat(json.subtotal)).toFixed(2);

             $("#basket-qty").html(json.qty);
             $("#subtotal").html(json.subtotal);
             $("#total").html(total);
         },
         error: function (xhr, errmsg, err) {
             console.error(errmsg);
         },
     });
     $("#alertbox").show();
     $("#alertbox").text("cart updated");
     setTimeout(function() {
         $('#alertbox').hide();
     }, 2000);
 });
    </script>
{% endblock %}
