{% extends 'headless_base.html' %}
{% load static %}
{% block title %}
    Orders
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4 h1"><a href="{% url 'orders:ofkind' kind='ENL_OR_RED' %}">Enlargements and Reductions</a> </div>
            <div class="col-4 h1"><a href="{% url 'orders:ofkind' kind='INCENSE' %}">Incense</a></div>
            <div class="col-4 h1"><a href="{% url 'orders:ofkind' kind='GENERIC' %}">Generic</a></div>
        </div>
    </div>
{% endblock content %}
