{% extends 'headless_base.html' %}
{% load static %}
{% block title %}
    Order {{ order.id }}
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="text-center">
            <h2>order {{ order.id }} - {{ order.status }}</h2>
        </div>
        <div class="row mt-2 pt-3">
            <div class="col-6">
                <div class="m-2">
                    <h2>Sold to:</h2>
                    <div>{{ order.full_name }}</div>
                    <div>{{ order.address_line1 }}</div>
                    <div>{{ order.address_line2 }}</div>
                    <div>{{ order.city }}</div>
                    <div>{{ order.state_province }}</div>
                    <div>{{ order.postal_code }}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="m-2">
                    <h2>Ship to:</h2>
                    <div>{{ order.full_name }}</div>
                    <div>{{ order.address_line1 }}</div>
                    <div>{{ order.address_line2 }}</div>
                    <div>{{ order.city }}</div>
                    <div>{{ order.state_province }}</div>
                    <div>{{ order.postal_code }}</div>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-9 m-2 h4">
                <div>{{ order.email }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="m-1 order-items">
                    <div class="row pb-1">
                        <div class="col-4 fw-bold">Title</div>
                        <div class="col-2 fw-bold">SKU</div>
                        <div class="col-2 fw-bold">Price</div>
                        <div class="col-2 fw-bold">Quantity</div>
                        <div class="col-2 fw-bold">Total</div>
                    </div>
                    {% for item in order.items.all %}
                        <div class="row">
                            <div class="col-4">{{ item.title|title }}</div>
                            <div class="col-2">{{ item.sku }}</div>
                            <div class="col-2">${{ item.price }}</div>
                            <div class="col-2">{{ item.quantity }}</div>
                            <div class="col-2">${% widthratio item.quantity 1 item.price %}.00</div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if order.paid %}
            <div class="row">
                <div class="col-3 pt-3 h3">
                    <div>Total: ${{ order.total_paid }}</div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
