{% extends 'headless_base.html' %}
{% load static %}
{% block title %}
    Orders
{% endblock title %}
{% block content %}
    <div id="content" class="p-2">
        <div class="btn-group" role="group" aria-label="Orders of the kind">
            <input type="radio"
                   class="btn-check"
                   name="btnradio"
                   id="all"
                   autocomplete="off"
                   checked>
            <label class="btn btn-outline-primary" for="all">All</label>
            <input type="radio"
                   class="btn-check"
                   name="btnradio"
                   id="generic"
                   autocomplete="off"
                   {% if kind == 'generic' %}checked{% endif %}>
            <label class="btn btn-outline-primary" for="generic">Generic</label>
            <input type="radio"
                   class="btn-check"
                   name="btnradio"
                   id="incense"
                   autocomplete="off"
                   {% if kind == 'incense' %}checked{% endif %}>
            <label class="btn btn-outline-primary" for="incense">Incense</label>
            <input type="radio"
                   class="btn-check"
                   name="btnradio"
                   id="enl_or_red"
                   autocomplete="off"
                   {% if kind == 'enl_or_red' %}checked{% endif %}>
            <label class="btn btn-outline-primary" for="enl_or_red">Enlargements and reductions</label>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order #</th>
                    <th scope="col">By</th>
                    <th scope="col">Status</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Total</th>
                    <th scope="col">Total paid</th>
                    <th scope="col">Created on</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order_list %}
                    <tr>
                        <td>
                            <a href="{% url 'orders:details' order.id %}"><strong># {{ order.id }}<strong></a>
                        </td>
                        <td>
                            {% if order.user %}
                                {{ order.user.first_name }} {{ order.user.last_name }}
                            {% else %}
                                {{ order.email }}
                            {% endif %}
                        </td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.paid | yesno:"Yes, No" }}</td>
                        <td>{{ order.order_total }}</td>
                        <td>{{ order.total_paid }}</td>
                        <td>{{ order.created_at }} ( {{ order.created_at | timesince }} ago)</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
    /* $(document).on('click', '.choice_item', function(e) {
      if (e.currentTarget.style.background=="#ffff99") {
        e.currentTarget.style.background="#ffffff"
      } else {
        e.currentTarget.style.background="#ffff99"
      }
    }) */
    $(document).on('click', 'input[name="btnradio"]', function (e) {
      let kind = e.currentTarget.id
      console.log(`${kind} clicked`)
      let url = new URL(window.location.href);
      url.searchParams.set('kind', kind);
      console.log(url)
      window.location.href=url
    })
    </script>
{% endblock content %}
