{% extends 'headless_base.html' %}
{% load static %}
{% block title %}
  Order {{ order.id }}
{% endblock title %}
{% block content %}
  <h1>Order {{ order.id }} by {{ order.user }}</h1>
  <h2>
    Total amount: ${{ order.order_total }}, paid: $<span id="paid">{{ order.total_paid }}</span>
  </h2>
  <div class="row m-1 alert alert-success"
       role="alert"
       id="alertbox"
       display="none"></div>
  {% if order.total_paid < order.order_total %}
    <label for="amount" class="p-1 fs-6">Amount:</label>
    <input id="amount">
    <label for="comment" class="p-1 fs-6">Comment:</label>
    <input id="comment">
    <input type="hidden" id="orderid" value="{{ order.id }}">
    <button type="button"
            id="add-payment"
            class="btn btn-md btn-success mx-1 mt-2 mb-1 form-control">Add a Payment</button>
  {% endif %}
  <script>
    $(document).on('click', '#add-payment', function (e) {
      e.preventDefault()
      let amount = $('#amount').val()
      let comment = $('#comment').val()
      console.log(`amount is ${amount}, comment is ${comment}`)
      const d = {
        amount,
        comment,
        oid: $('#orderid').val(),
        csrfmiddlewaretoken: '{{csrf_token}}',
        // action: 'post'
      }
      $.ajax({
        type: 'POST',
        url: '{% url "orders:add_payment" %}',
        data: d,
        success: function (json) {
            $('#alertbox').show()
            $('#alertbox').text('Payment creared')
            setTimeout(function () {
              $('#alertbox').hide()
              window.location.reload()
          }, 2000)
        },
        error: function (xhr, errmsg, err) {
          console.error("Error", errmsg)
        }
      })
    })
  </script>
{% endblock content %}
