{% extends 'headless_base.html' %}
{% load static %}
{% block title %}
    Orders
{% endblock title %}
{% block content %}
    <div class="container p-2">
        {% for order in orders %}
            <div class="row">
                <div class="col-2">
                    <a href="{% url 'orders:order_details' order.id %}">{{ order.id }}</a>
                </div>
                <div class="col-2">
                    {% if order.user %}
                        {{ order.user.first_name }} {{ order.user.last_name }}
                    {% else %}
                        {{ order.email }}
                    {% endif %}
                </div>
                <div class="col-2">{{ order.status }}</div>
                <div class="col-4">{{ order.created|timesince }}</div>
            </div>
            
        </div>
    {% endfor %}
</div>
{% endblock content %}
