{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}
{% block title %}
Inventory
{% endblock title %}

{% block content %}
<div class="container-fluid">

    <div class="tabset">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="wrapping" aria-controls="Wrapping" checked>
        <label for="wrapping">Wrapping</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="sanding" aria-controls="sanding">
        <label for="sanding">Sanding</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="mounting" aria-controls="mounting">
        <label for="mounting">Mounting</label>
        
        <div class="tab-panels">
            <section id="wrapping" class="tab-panel">
              
              <div class="h3">Wrapping room stock</div>
              
              <div class="row">
                <div class="col border">
                    <div class="h4">Title</div>
                </div>
                <div class="col border">
                    <div class="h4">SKU</div>
                </div>
                <div class="col border">
                    <div class="h4">Quantity</div>
                </div>
              </div>
              
              {% for item in wrapping.stock_set.all %}
              <div class="row">
                <div class="col border">{{ item.product }}</div>
                <div class="col border">{{ item.sku }}</div>
                <div class="col border">{{ item.quantity }}</div>
              </div>                
              {% endfor %}
            </section>
            <section id="sanding" class="tab-panel">
                <div class="h3">Sanding room stock</div>
                
                <div class="row">
                    <div class="col border">
                        <div class="h4">Title</div>
                    </div>
                    <div class="col border">
                        <div class="h4">SKU</div>
                    </div>
                    <div class="col border">
                        <div class="h4">Quantity</div>
                    </div>
                </div>

                {% for item in sanding.stock_set.all %}
                <div class="row">
                    <div class="col border">{{ item.product }}</div>
                    <div class="col border">{{ item.product.sku }}</div>
                    <div class="col border">{{ item.quantity }}</div>
                </div>
                {% endfor %}
            </section>
            
            <section id="mounting" class="tab-panel">
                <div class="h3">Mounting room stock</div>
                
                <div class="row">
                    <div class="col border">
                        <div class="h4">Title</div>
                    </div>
                    <div class="col border">
                        <div class="h4">SKU</div>
                    </div>
                    <div class="col border">
                        <div class="h4">Quantity</div>
                    </div>
                </div>

                {% for item in mounting.stock_set.all %}
                <div class="row">
                    <div class="col border">{{ item.product }}</div>
                    <div class="col border">{{ item.product.sku }}</div>
                    <div class="col border">{{ item.quantity }}</div>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
    
    <div class="row">
        <div class="col border">
            <div class="h3 text-center">Worklist generation</div>

            <form class="m-1" action="{% url 'inventory:printworklisthtml' %}" method="get">
                <button type="submit" class="btn btn-success">Generate print worklist (HTML)</button>
            </form>

        </div>

        <div class="col border">
            <div class="h3 text-center">
                Inventory move
            </div>
            <form class="m-2" action="{% url 'inventory:move_stock' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success m-3">Move stock</button>
            </form>

        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}