{% extends "../base.html" %}
{% block title %}
  Icons of the saints
{% endblock title %}
{% block content %}
  <div class="h3 p-3">{{ category|title }}</div>
  <hr />
  <div class="container">
  <div class="row">
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='a' %}">A</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='b' %}">B</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='c' %}">C</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='d' %}">D</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='e' %}">E</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='f' %}">F</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='g' %}">G</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='h' %}">H</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='i' %}">I</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='j' %}">J</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='k' %}">K</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='l' %}">L</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='m' %}">M</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='n' %}">N</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='o' %}">O</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='p' %}">P</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='q' %}">Q</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='r' %}">R</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='s' %}">S</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='t' %}">T</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='u' %}">U</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='v' %}">V</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='w' %}">W</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='x' %}">X</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='y' %}">Y</a></div>
  <div class="col"><a href="{% url 'catalogue:saints_filtered' letter='z' %}">Z</a></div>
      </div>
    <div class="album">
      {% if not products %}
        <div class="col-12">
          There are currently no products active <a href="{% url 'catalogue:home' %}">Home</a>
        </div>
      {% else %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          {% for product in products %}
            <div class="col">
              <div class="card border-0">
                <a class="text-dark text-decoration-none"
                   href="{{ product.get_absolute_url }}">
                  <img class="img-fluid"
                       alt="Responsive image"
                       src="{{ product.image.url }}"
                       alt="{{ product.title }}">
                  <div class="card-body px-0">
                    <p class="card-text fw-bold">{{ product.title }}</p>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
