{% extends "../base.html" %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<h2 class="h2 p-3">{{ category|title }}</h2>
<hr />
<div class="container">
  <div class="album">
    {% if not products %}
    <div class="col-12">There are currently no products active <a href="{% url 'catalogue:store_home' %}">Home</a>
    </div>
    {% else %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
      {% for product in products %}
      <div class="col">
        <div class="card border-0">
          <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}" alt="{{ product.title }}">
            <div class="card-body px-0">
              <p class="card-text fw-bold">
                {{ product.title }}
              </p>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
</div>

{% endblock %}