{% extends '../base.html' %}
{% block title %}
HTM Store
{% endblock %}
{% block content %}

<div class="px-4 text-center">
  <h1 class="fs-1 h2">Featured</h2>
</div>
<div class="album py-5">
  <div class="container">
    {% if not products %}
    <div class="col-12">There are no active products</div>
    {% else %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
      {% for product in products %}
      <div class="col">
        <div class="card border-0">
          <a class="text-dark text-decoration-none fw-bold" href="{{ product.get_absolute_url }}">
            <img class="img-fluid" alt="some alt" src="{{ product.image.url }}" alt="{product.title}}" />
            <div class="card-body d-flex flex-column px-0">
              <p class="card-text mt-auto fs-4">
                {{ product.title }}
              </p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
