{% extends '../base.html' %}
{% block title %}
  HTM Store
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="album py-5">
        <div class="pb-3">
          <h1 class="h3">Popular</h1>
        </div>
        {% if not products %}
          <div class="col-12">There are currently no products active</div>
        {% else %}
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            {% for product in products %}
              <div class="col">
                <div class="card border-0">
                  {% for p_image in product.product_image.all %}
                    {% if p_image.is_feature %}
                      <img class="img-fluid" alt="some alt" src="{{ p_image.image.url }}" alt="{{ p_image.alt_text }}" />
                    {% endif %}
                  {% endfor %}
                  <div class="card-body px-0">
                    <p class="card-text">
                      <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title|slice:':50' }}...</a>
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
