{% extends '../base.html' %}
{% block title %}
  {% if product %}
    {{ product.title }}
  {% else %}
    Product
  {% endif %}
{% endblock %}
{% block content %}
  <div class="px-4 row g-3">
    <div class="col-md-5 ps-3 col-lg-5 p-0 order-1">
      <div class="d-grid gap-2">
        <div class="d-flex d-inline-flex justify-content-between">
          <div>
            <label for="qty">Quantity</label>
            <div class="input-group input-group-sm mb-3 col-xs-2  ">
              <input class="form-control form-control-sm" type="number" id="qyt" value="1"/>
            </div>
          </div>
          {% if variants %}
          <div>
            <label for="select-variant">Variant</label>
            <select id="select-variant" class="h6 form-control form-control-sm store-select-dropdown">
              {% for v in variants %}
                <hr/>
                <option value="{{ v }}">{{ v }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
        </div>
        <hr>
        <button type="button" id="add-button" value="{{product.id}}" class="btn btn-success fw500">Add to cart</button>
      </div>
    </div>
    <div class="col-md-7 col-lg-7 p-0">
      <div class="card mb-3 border-0">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body p-1">
              <h1 class="mb-0 h2 pe-4 pb-4">{{ product.title }}</h1>
              <div class="bg-light">

                {% for pi in product.product_image.all %}
                  {% if pi.is_feature %}
                    <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ pi.image.url }}"
                      alt="{{ pi.alt_text }}">
                  {% else %}
                    <img class="img-fluid d-block-inline pt-3" width="100px" alt="Responsive image"
                      src="{{ pi.image.url }}" alt="{{ pi.alt_text }}">
                  {% endif %}
                {% endfor %}
                <p class="card-text">{{ product.description|slice:":355" }}...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).on('click', '#add-button', function (e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "basket:basket_add" %}',
        data: {
          productid: $('#add-button').val(),
          productqty: $('#quantity').val(),
          variant: $('#select-variant').val(),
          csrfmiddlewaretoken: '{{csrf_token}}',
          action: 'post'
        },
        success: function (json) {
          $('#basket-qty').html(json.qty)
          $('#alertbox').show()
          $('#alertbox').text('{{product.title}} added to the cart')
          setTimeout(function () {
            $('#alertbox').hide()
            window.location.replace('{% url "basket:basket_summary" %}')
          }, 2000) // ok at least something worked
        },
        error: function (xhr, errmsg, err) {
          console.error('add POST failed')
          console.error(errmsg)
        }
      })
    })
  </script>
{% endblock %}
