{% extends '../base.html' %}
{% block title %}
{% if product %}
{{ product.title }}
{% else %}
Product
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="card mb-3 border-0">
    <div class="row g-0">
      <div class="col-md-12">
        <div class="card-body p-1">
          <p class="pt-2 text-center fw-bold lead mb-0 h2 pe-4 pb-4">{{ product.title }}</p>
          <img class="img-fluid mx-auto d-block" width="200px" alt={{ product.title }} src="{{ product.image.url }}"
            alt="{{ product.title }}" />
            <details class="description">
              <summary class="mt-2" data-open="hide" data-close="read more"></summary>
              {% autoescape off %}
              {{ product.description }}
              {% endautoescape %}
            </details>
        </div>
      </div>
    </div>
  </div>

  {% if skus %}

  <div class="input-group overflow-auto">
    <table class="table table-striped">
      <tbody>
        {% for i in skus %}
        <tr>
          <td><strong>{{i.product_type.name}}</strong>
            {% if i.productspecificationvalue_set.count %}
            <i>({{ i.productspecificationvalue_set.first }})</i>
            {% endif %}
          </td>
          <td><strong>${{i.price}}</strong></td>
          <td>
            <input class="form-check-input sku-picker" type="radio" name="radiox" value="{{ i.sku }}"
            {% if skus.count == 1 %}
            checked
            {% endif %}>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <label for="quantity" class="p-1 fs-6">Quantity:</label>
    <input class="form-control" type="number" id="quantity" min="0" value="1" />
  
  </div>

  <button type="button" id="add-button" class="btn btn-md btn-success mx-1 mt-2 form-control">Add to cart</button>

  {% else %}
  
    <div class="alert alert-warning" role="alert">
      <span class="warning">Sorry, there's no inventory available for this product</span>
    </div>

  {% endif %}

  <div class="row m-1 alert alert-success" role="alert" id="cartalertbox" style="display:none;"></div>
</div>

<script>
  $(document).on('click', '#add-button', function (e) {
    e.preventDefault()
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_add" %}',
      data: {
        productqty: $('#quantity').val(),
        sku: $(".sku-picker:checked").val(),
        csrfmiddlewaretoken: '{{csrf_token}}',
        action: 'post'
      },
      success: function (json) {
        $('#basket-qty').html(json.qty)
        $('#cartalertbox').show()
        $('#cartalertbox').text('{{product.title}} added to the cart')
        setTimeout(function () {
          $('#cartalertbox').hide()
        }, 2000) // ok at least something worked
      },
      error: function (xhr, errmsg, err) {
        console.error("add POST failed", errmsg)
      }
    })
  })
</script>
{% endblock %}